<section class="section-wrap blog-standard blog-article">
  <div class="container relative">
    <div class="row">
      
      <!-- content -->
      <div class="col-md-10 col-md-offset-1">
        <div class="entry-comments mt-70">
          <h3 class="text-center mb-30">올렸던 Youtube 영상 관리자</h3>
          <ul class="comment-list">
            <%@youtubes.each do |youtube|%>

              <%client = Yourub::Client.new%>
              <%tube = client.get(youtube.video_id)%>
              <%snippet = tube["snippet"]%>
              <li>
                <div class="comment-body">
                  <img src="<%=snippet["thumbnails"]["high"]["url"]%>" class="comment-avatar" alt="img" style="width:80px;border-radius:0px;-webkit-border-radius:0px;">
                  <div class="comment-content">
                    <h6 class="comment-author"><%=snippet["title"]%></h6>
                    <p class="mb-10"><%=snippet["description"]%></p>

                  <%if youtube.hided%>
                    <a href="/toggle/youtube/<%=youtube.id%>"class="btn" style="background-color:#28aadc; color:white;">보이기</a>
                  <%else%>
                    <a href="/toggle/youtube/<%=youtube.id%>"class="btn" style="background-color:#e91e63; color:white;">숨기기</a>
                  <%end%>
                  <a href="/delete/youtube/<%=youtube.id%>"class="btn" style="background-color:#151515; color:white;">삭제</a>
                  </div>
                </div>
              </li> <!-- end 1-2 comment -->
            <%end%>
          </ul> <!-- end comment list -->        
        </div>


        <div class="entry-comments mt-70">
          <h3 class="text-center mb-30">올렸던 Facebook 영상 관리자</h3>
          <ul class="comment-list">
            <%@facebooks.each do |facebook|%>
              <li>
                <div class="comment-body">
                  <div class="comment-content" style="padding-left:0;">
                  <div class="fb-video" data-href="<%=facebook.url%>" 
                    data-allowfullscreen="true" data-width="200"></div>
                  <%if facebook.hided%>
                    <a href="/toggle/facebook/<%=facebook.id%>"class="btn" style="background-color:#28aadc; color:white;">보이기</a>
                  <%else%>
                    <a href="/toggle/facebook/<%=facebook.id%>"class="btn" style="background-color:#e91e63; color:white;">숨기기</a>
                  <%end%>
                  <a href="/delete/facebook/<%=facebook.id%>"class="btn" style="background-color:#151515; color:white;">삭제</a>
                  </div>
                </div>
              </li> <!-- end 1-2 comment -->
            <%end%>
          </ul> <!-- end comment list -->           
        </div>

        
      </div> <!-- end col -->

    </div> <!-- end row -->
  </div> <!-- end container -->
</section> <!-- end blog single -->
